<style>
  .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*height: 100vh;*/
  }
  .cs-row {
    display: flex !important;
    width: 100%;
    display: block;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
  }
  .cs-row .cs-row-item{
    width: 30%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;

  }
  .cs-row .cs-row-item:first-child{
    width: 70%;
  }
  .cs-row .cs-row-item .cs-iitem{
    background: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    /*border-bottom: 1px solid #ccc;*/
  }
  .cs-row .cs-row-item .cs-iitem > div{
    display: inline-block;
  }
  .cs-row .cs-row-item .cs-iitem:hover{
    background: #fff;
    cursor: pointer;
  }
  .pic{
    margin-top: 20PX;
  }
  .name_cn{
    margin-top: 10px;
    margin-bottom: 0px;
  }
  h3{
    margin-top: 0px;
  }
</style>
<div>
  <center>
    <h1 id="score">000分</h1>
    <h3 id="check">正确！+10分</h3>
  </center>
</div>

<div class="wrapper">
  <div class="cs-row">
  <div class="cs-row-item">
    <center>
      <img src="./static/pics/apple.jpeg" id="pic_1" class="img-responsive img-thumbnail pic" width="350px">
      <h1 id="name_cn_1" class="name_cn">苹果</h1>
      <h3 id="name_en_1">apple</h3>
      <!-- <h3 id="score_1">100</h3> -->
    </center>
  </div>
</div>
</div>



<!-- socket.io -->
<script src="./static/js/socket.io-1.4.5.js"></script>
<script>
  window.isFinish = true;
  window.isWrong = false;

  window.socket = io('http://localhost:8080');
  socket.on('change', function (data) {
    const obj = data;
    window.isWrong = false;
    console.log(data);
    if(obj.score < 0 || !window.isFinish) {
      return;
    }

    window.obj = obj;
    window.isFinish = false;


    $('#pic_1').attr('src', './static/pics/' + data.picFileName);
    $('#name_en_1').text(data.name);
    $('#name_cn_1').text(data.name_cn);
    $("#name_cn_1").css("color","black");
//    $('#score_1').text(data.score);
/*
    $('#pic_2').attr('src', './static/pics/' + data[1].picFileName);
    $('#name_en_2').text(data[1].name);
    $('#name_cn_2').text(data[1].name_cn);
    $('#score_2').text(data[1].score);

    $('#pic_3').attr('src', './static/pics/' + data[2].picFileName);
    $('#name_en_3').text(data[2].name);
    $('#name_cn_3').text(data[2].name_cn);
    $('#score_3').text(data[2].score);

    $('#pic_4').attr('src', './static/pics/' + data[3].picFileName);
    $('#name_en_4').text(data[3].name);
    $('#name_cn_4').text(data[3].name_cn);
    $('#score_4').text(data[3].score);
    */

    //音频
//    const audio = document.createElement("audio");
//    audio.src = 'http://www.voicerss.org/controls/speech.ashx?hl=en-gb&c=mp3&src=' + obj.name;
 //   audio.play();
  //  setTimeout(function () {
      const audio = document.createElement("audio");
      audio.src = 'http://www.voicerss.org/controls/speech.ashx?hl=zh-hk&c=mp3&src=' + obj.name_cn;
      audio.play();
        $(audio).bind('ended', function(){
          recordProcess();
        });
   // }, 2000);

  });
</script>

<!-- 语音 -->
<script type="text/javascript" src="./static/js/recorder.js"></script>
<script>
window.score = 0;


function check(text, flag) {
  window.isFinish = true;
  var tmpText = "";
  for(var i = 0;i<text.length;i++){
      var c = text[i]
      if ('a'<=c && c<='z'){
          c = c.toUpperCase();
      }
      if(c!=' '){
          tmpText+=c;
      }
  }
  text = tmpText;
  console.log("format Text: "+text);

  if(flag || (window.obj && window.obj.name &&
    text.indexOf(window.obj.name_cn) >= 0
    // text === window.obj.name_cn
    )) {
    //right
    console.log("正确");
    window.isWrong = false;
    $('#check').text("正确！+10分");
    window.score += 10;
    $('#score').text("总分: "+window.score+"分");

    const audio = document.createElement("audio");
    audio.src = 'http://dx.sc.chinaz.com/Files/DownLoad/sound1/201504/5692.wav';
    audio.play();
    setTimeout(function(){window.socket.emit("next",true);},2000);
  } else {
    //wrong
    hasSend = false;
    $('#check').text("错误！-5分");
    $("#name_cn_1").css("color","red");
    window.isWrong = true;
    window.score -= 5;
    if(window.score < 0) {
      window.score = 0;
    }
    $('#score').text("总分: "+window.score+"分");

    const audio = document.createElement("audio");
    audio.src = 'http://dx.sc.chinaz.com/files/download/sound/huang/cd9/wav/478.wav';
    audio.play();
    setTimeout(function(){window.socket.emit("next",false);},5000);
  }
}

function sendToFord(blobOrFile) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'http://localhost:8000/speech', true);
  xhr.onload = function(e) {
    console.log(e.target.responseText);
    var result = e.target.responseText;
    check(result);
  };
  xhr.send(blobOrFile);
}

function initRecord(stream) {
  var input = window.audio_context.createMediaStreamSource(stream);
  window.recorder = new Recorder(input);
}

function recordProcess() {
  window.recorder.record();
  $("#name_cn_1").css("color","green");
  setTimeout(function () {
    $("#name_cn_1").css("color","black");
    window.recorder.exportWAV(function(blob) {
      sendToFord(blob);
      setTimeout(function () {
        window.isFinish = true;
        }, 5000);
      var url = URL.createObjectURL(blob);
      var au = document.createElement('audio');
      au.controls = true;
      au.src = url;
    });
    window.recorder.clear();
}, 3000);//录音时间
}

function stopRecord(){
  $("#name_cn_1").css("color","black");
  window.recorder.exportWAV(function(blob) {
    sendToFord(blob);
    setTimeout(function () {
      window.isFinish = true;
    }, 1000);
    var url = URL.createObjectURL(blob);
    var au = document.createElement('audio');
    au.controls = true;
    au.src = url;
  });
  window.recorder.clear();
}
// leapMotion
Leap.loop(function(frame) {
  frame.hands.forEach(function (hand, index) {
    var radius;
    if (hand.sphereRadius > 120) {
      radius = 120;
    } else {
      radius = hand.sphereRadius;
    }
    $("#pic_1").css("width",(radius*10).toString()+'px');
  });
});
</script>

<script>
  function __log(e, data) {
    // log.innerHTML += "\n" + e + " " + (data || '');
    console.log(e + " " + (data || ''));
  }

  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;

      window.audio_context = new AudioContext;
      __log('Audio context set up.');
      __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
    } catch (e) {
      alert('No web audio support in this browser!');
    }

    navigator.getUserMedia({audio: true}, initRecord, function(e) {
      __log('No live audio input: ' + e);
    });
  };
</script>
