<style>
  .wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*height: 100vh;*/
  }
  .cs-row {
    display: flex !important;
    width: 100%;
    display: block;
    background: #f4f4f4;
    justify-content: center;
    align-items: center;
  }
  .cs-row .cs-row-item{
    width: 30%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;

  }
  .cs-row .cs-row-item:first-child{
    width: 70%;
  }
  .cs-row .cs-row-item .cs-iitem{
    background: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    /*border-bottom: 1px solid #ccc;*/
  }
  .cs-row .cs-row-item .cs-iitem > div{
    display: inline-block;
  }
  .cs-row .cs-row-item .cs-iitem:hover{
    background: #fff;
    cursor: pointer;
  }
  .pic{
    margin-top: 20PX;
  }
  .name_cn{
    margin-top: 10px;
    margin-bottom: 0px;
  }
  h3{
    margin-top: 0px;
  }
</style>
<div>
  <center>
    <h1 id="score">000分</h1>
    <h3 id="check">正确！+10分</h3>
  </center>
</div>

<div class="wrapper">
  <div class="cs-row">
  <div class="cs-row-item">
    <center>
      <img src="./static/pics/apple.jpeg" id="pic_1" class="img-responsive img-thumbnail pic" width="350px">
      <h1 id="name_cn_1" class="name_cn">苹果</h1>
      <h3 id="name_en_1">apple</h3>
      <h3 id="score_1">100</h3>
    </center>
  </div>
  <div class="cs-row-item">
      <div class="cs-iitem">
        <div class="row">
          <div class="col-xs-6">
            <img src="./static/pics/apple.jpeg" id="pic_2" class="img-responsive img-thumbnail pic" width="150px">
          </div>
          <div class="col-xs-6">
            <h4 id="name_cn_2">苹果</h4>
            <p id="name_en_2">apple</p>
            <p id="score_2">100</p>
          </div>
        </div>
      </div>
      <div class="cs-iitem">
        <div class="row">
          <div class="col-xs-6">
            <img src="./static/pics/apple.jpeg" id="pic_3" class="img-responsive img-thumbnail pic" width="150px">
          </div>
          <div class="col-xs-6">
            <h4 id="name_cn_3">苹果</h4>
            <p id="name_en_3">apple</p>
            <p id="score_3">100</p>
          </div>
        </div>
      </div>
      <div class="cs-iitem">
        <div class="row">
          <div class="col-xs-6">
            <img src="./static/pics/apple.jpeg" id="pic_4" class="img-responsive img-thumbnail pic" width="150px">
          </div>
          <div class="col-xs-6">
            <h4 id="name_cn_4">苹果</h4>
            <p id="name_en_4">apple</p>
            <p id="score_4">100</p>
          </div>
        </div>
      </div>

  </div>
</div>
</div>



<!-- socket.io -->
<script src="./static/js/socket.io-1.4.5.js"></script>
<script>
  window.isFinish = true;

  var socket = io('http://localhost:8080');
  socket.on('change', function (data) {
    console.log(data[0]);

    const obj = data[0];

    if(obj.score < 40 ||
      (window.obj && window.obj.name === obj.name)
      || !window.isFinish) {
      return;
    }

    window.obj = obj;
    window.isFinish = false;


    $('#pic_1').attr('src', './static/pics/' + data[0].picFileName);
    $('#name_en_1').text(data[0].name);
    $('#name_cn_1').text(data[0].name_cn);
    $('#score_1').text(data[0].score);

    $('#pic_2').attr('src', './static/pics/' + data[1].picFileName);
    $('#name_en_2').text(data[1].name);
    $('#name_cn_2').text(data[1].name_cn);
    $('#score_2').text(data[1].score);

    $('#pic_3').attr('src', './static/pics/' + data[2].picFileName);
    $('#name_en_3').text(data[2].name);
    $('#name_cn_3').text(data[2].name_cn);
    $('#score_3').text(data[2].score);

    $('#pic_4').attr('src', './static/pics/' + data[3].picFileName);
    $('#name_en_4').text(data[3].name);
    $('#name_cn_4').text(data[3].name_cn);
    $('#score_4').text(data[3].score);

    //音频
    const audio = document.createElement("audio");
    audio.src = 'http://www.voicerss.org/controls/speech.ashx?hl=en-gb&c=mp3&src=' + obj.name;
    audio.play();
    setTimeout(function () {
      const audio = document.createElement("audio");
      audio.src = 'http://www.voicerss.org/controls/speech.ashx?hl=zh-cn&c=mp3&src=' + obj.name_cn;
      audio.play();

      const v = setInterval(function () {
        if(audio.ended === true) {
          clearInterval(v);
          recordProcess();
        }
      }, 300);

    }, 1500);

  });
</script>

<!-- 语音 -->
<script type="text/javascript" src="./static/js/recorder.js"></script>
<script>
window.score = 0;


function check(text, flag) {
  window.isFinish = true;

  if(flag || (window.obj && window.obj.name &&
    text.indexOf(window.obj.name_cn) >= 0
    // text === window.obj.name_cn
    )) {
    //right
    $('#check').text("正确！+10分");
    window.score += 10;
    $('#score').text("总分: "+window.score+"分");

    const audio = document.createElement("audio");
    audio.src = 'http://dx.sc.chinaz.com/Files/DownLoad/sound1/201504/5692.wav';
    audio.play();

  } else {
    //wrong
    $('#check').text("错误！-5分");
    window.score -= 5;
    if(window.score < 0) {
      window.score = 0;
    }
    $('#score').text("总分: "+window.score+"分");

    const audio = document.createElement("audio");
    audio.src = 'http://dx.sc.chinaz.com/files/download/sound/huang/cd9/wav/478.wav';
    audio.play();

  }
}

function sendToFord(blobOrFile) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', 'http://localhost:8000/speech', true);
  xhr.onload = function(e) {
    console.log(e.target.responseText);
    var result = e.target.responseText;
    check(result);
  };

  xhr.send(blobOrFile);
}

function initRecord(stream) {
  var input = window.audio_context.createMediaStreamSource(stream);
  window.recorder = new Recorder(input);
}

function recordProcess() {
  window.recorder.record();
  console.log('record start');
  setTimeout(function () {
    window.recorder.stop();
    console.log('record stop');

    window.recorder.exportWAV(function(blob) {
      sendToFord(blob);

      var url = URL.createObjectURL(blob);
      var au = document.createElement('audio');

      au.controls = true;
      au.src = url;
    });

    window.recorder.clear();
  }, 3000);
}

</script>

<script>
  function __log(e, data) {
    // log.innerHTML += "\n" + e + " " + (data || '');
    console.log(e + " " + (data || ''));
  }

  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;

      window.audio_context = new AudioContext;
      __log('Audio context set up.');
      __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
    } catch (e) {
      alert('No web audio support in this browser!');
    }

    navigator.getUserMedia({audio: true}, initRecord, function(e) {
      __log('No live audio input: ' + e);
    });
  };
</script>