<script type="text/javascript" src="./static/js/recorder.js"></script>
<script>
getIdentificationProfileId();
setTimeout(function () {
  recordProcess();
}, 3000);

function getIdentificationProfileId() {
  $.ajax({
      url: "https://api.projectoxford.ai/spid/v1.0/identificationProfiles",
      beforeSend: function(xhrObj){
          // Request headers
          xhrObj.setRequestHeader("Content-Type","application/json");
          xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","d5fb745f692c4817a50f1fc23d7ee31e");
      },
      type: "POST",
      // Request body
      data: '{"locale":"en-us"}',
  })
  .done(function(data) {
      console.log(data);
      window.identificationProfileId = data.identificationProfileId;
  })
  .fail(function(e) {
      console.error(e);
  });
}

function sendToFord(blob) {
  var params = {
      // Request parameters
      "shortAudio": "true",
  };

  const url = "https://api.projectoxford.ai/spid/v1.0/identificationProfiles/" + window.identificationProfileId + "/enroll?" + $.param(params);
  console.log(url);

  $.ajax({
      url: url,
      beforeSend: function(xhrObj){
          // Request headers
          xhrObj.setRequestHeader("Content-Type","multipart/form-data");
          xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key","d5fb745f692c4817a50f1fc23d7ee31e");
      },
      type: "POST",
      // Request body
      data: JSON.stringify(blobToUint8Array(blob)),
  })
  .done(function(data) {
      console.log(data);
      alert("success");
  })
  .fail(function() {
      alert("error");
  });
}

function initRecord(stream) {
  var input = window.audio_context.createMediaStreamSource(stream);
  window.recorder = new Recorder(input);
}

function recordProcess() {
  window.recorder.record();
  console.log('record start');
  setTimeout(function () {
    window.recorder.stop();
    console.log('record stop');

    window.recorder.exportWAV(function(blob) {
      // sendToFord(blob);

      var url = URL.createObjectURL(blob);
      var au = document.createElement('audio');

      au.controls = true;
      au.src = url;
    });

    window.recorder.clear();
  }, 1500);
}

function blobToUint8Array(b) {
    var uri = URL.createObjectURL(b),
        xhr = new XMLHttpRequest(),
        i,
        ui8;

    xhr.open('GET', uri, false);
    xhr.send();

    URL.revokeObjectURL(uri);

    ui8 = new Uint8Array(xhr.response.length);

    for (i = 0; i < xhr.response.length; ++i) {
        ui8[i] = xhr.response.charCodeAt(i);
    }

    return ui8;
}
</script>

<script>
  function __log(e, data) {
    // log.innerHTML += "\n" + e + " " + (data || '');
    console.log(e + " " + (data || ''));
  }

  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;

      window.audio_context = new AudioContext;
      __log('Audio context set up.');
      __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
    } catch (e) {
      alert('No web audio support in this browser!');
    }

    navigator.getUserMedia({audio: true}, initRecord, function(e) {
      __log('No live audio input: ' + e);
    });
  };
</script>